<footer class="border-top footer text-muted">
    <div class="container">
        <nav class="float-left">
            <ul class="footer-links">
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;@DateTime.Now.Year.ToString() - Lamazon
        </div>
    </div>
</footer>