@model IEnumerable<Prasalnik.ViewModels.Models.QuestionnaireViewModel>

@{
    ViewData["Title"] = "Questionnaires";
}

<h2>Available Questionnaires</h2>

@if (!Model.Any())
{
    <p>No questionnaires available.</p>
}
else
{
    <ul>
        @foreach (var q in Model)
        {
            <li>
                <a asp-controller="Questionnaire" asp-action="Details" asp-route-id="@q.Id">
                    @q.Title - Status: @q.Status
                </a>
            </li>
        }
    </ul>
}
