@using Prasalnik.ViewModels.Models
@model AnswerViewModel

<h1>Answer the questions</h1>

<form asp-action="SubmitAnswers" method="post">
    <!-- questions fields -->
    <button type="submit">Submit</button>
</form>